canvas {
  margin: auto;
}

.documents-tree {
  div[role=treeitem] {
    outline: none;

    & > div {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }

    &:hover {
      background-color: rgba(255, 255, 255, .1);
      cursor: pointer;
    }

    .treeitem-nodename {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      &.is-folder {
        font-weight: bold;
      }
    }

  }
}

.filelist {
  .filelist-item {
    &:hover {
      background-color: rgba(255, 255, 255, .1);
      cursor: pointer;
    }

    .is-folder {
      font-weight: bold;
    }

    .filelist-metadata {
      color: #999;
      font-size: 0.8em;
      padding:  0 0.5em;
    }
  }
}

.filegrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 1em;

  .filegrid-file-item,
  .filegrid-folder-item {
    display: inline-grid;
    padding: 0.5em;

    &:hover {
      background-color: rgba(255, 255, 255, .1);
      cursor: pointer;
    }

    .filegrid-metadata {
      font-weight: normal;
      color: #999;
      font-size: 0.8em;
    }
  }

  .filegrid-file-item {
    .fileicon {
      padding: 0.5rem;
      svg {
        height: 80px;
        width: 100%;
      }
    }
    .filename {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      font-size: 0.8rem;
    }
  }

  .filegrid-folder-item {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
