[Unit]
Description=reverse proxy
#StartLimitIntervalSec=600
#StartLimitBurst=4
After=home.mount

[Service]
Environment=HOME=/home/root
EnvironmentFile=/home/root/proxycfg
WorkingDirectory=/home/root
ExecStart=/home/root/secure -cert proxy.crt -key proxy.key ${URL}

[Install]
WantedBy=multi-user.target


